<div class="container mt-5">

  <form class="form-inline mb-5">
    <input type="text" class="form-control mb-2 mr-sm-5" id="title" name="title" placeholder="Ime">
    <input type="number" class="form-control mb-2 mr-sm-5" id="balance" name="balance" placeholder="Stanje">
    <button type="button" class="btn btn-primary mb-2">Dodaj</button>
  </form>



  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ime</th>
        <th scope="col">Stanje</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>SKB</td>
        <td>1000.54</td>
        <td><a href="" class="delete-btn"><i class="fa fa-remove"></i></a></td>
      </tr>
      <tr>
        <td>Gotovina</td>
        <td>1000.54</td>
        <td><a href="" class="delete-btn"><i class="fa fa-remove"></i></a></td>
      </tr>
      <tr>
        <td>Delavska hranilnica</td>
        <td>1000.54</td>
        <td><a href="" class="delete-btn"><i class="fa fa-remove"></i></a></td>
      </tr>
    </tbody>
  </table>

</div>