<div class="container mt-5">

  <form class="form-inline mb-5">
    <input type="hidden" name="id" [(ngModel)]="currentAccount.id">
    <input type="text" class="form-control mr-sm-5" id="title" name="title" placeholder="Ime" [(ngModel)]="currentAccount.title">
    <input type="number" class="form-control mr-sm-5" id="balance" name="balance" placeholder="Stanje" [(ngModel)]="currentAccount.balance">
    <button type="button" class="btn btn-primary mr-3" (click)="save()">
      <span *ngIf="!edit">Dodaj</span>  
      <span *ngIf="edit">Shrani</span>
    </button>
    <button type="button" *ngIf="edit" (click)="cancelEditMode()" class="btn btn-secondary">Prekliči</button>
  </form>

  <hr>
  <div class="row" *ngIf="accounts.length">
    <div class="col-6"></div>
    <div class="col-6 mb-4">
        <app-account-sum [accounts]="accounts"></app-account-sum>
    </div>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ime</th>
        <th scope="col">Stanje</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{ account.title }}</td>
        <td>{{ account.balance | number : '.2-2' }}</td>
        <td>
          <span (click)="editMode(account)" class="edit-btn mr-2"><i class="fa fa-pencil"></i></span>
          <span class="delete-btn" (click)="deleteAccount(account)"><i class="fa fa-remove"></i></span>
        </td>
      </tr>
    </tbody>
  </table>

</div>