<div class="container mt-5">

  <form class="form-inline mb-5">
    <input type="text" class="form-control mb-2 mr-sm-5" id="title" name="title" placeholder="Ime">
    <input type="number" class="form-control mb-2 mr-sm-5" id="balance" name="balance" placeholder="Stanje">
    <button type="button" class="btn btn-primary mb-2">Dodaj</button>
  </form>



  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ime</th>
        <th scope="col">Stanje</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{ account.title }}</td>
        <td>{{ account.balance }}</td>
        <td><span class="delete-btn" (click)="deleteAccount(account)"><i class="fa fa-remove"></i></span></td>
      </tr>
    </tbody>
  </table>

</div>