<div class="modal fade" id="addTransactionModal" tabindex="-1" role="dialog" aria-labelledby="addTransactionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTransactionModalLabel">Nova transakcija</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group">
                <app-transaction-type-select></app-transaction-type-select>
              </div>
              <div class="form-group">
                <select class="form-control" id="account_id">
                  <option selected disabled>Račun</option>
                  <option>SKB</option>
                  <option>Delavska hranilnica</option>
                  <option>Gotovina</option>
                </select>
              </div>
              <button class="btn btn-outline-secondary btn-block dropdown-toggle mb-2" id="done_on"><i class="fa fa-calendar"></i> 30.9.2018</button>
              <input type="number" class="form-control mb-2 mr-sm-5" id="amount" name="amount" placeholder="Znesek">
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm">Dodaj</button>
      </div>
    </div>
  </div>
</div>