<div class="modal fade" id="addTransactionModal" tabindex="-1" role="dialog" aria-labelledby="addTransactionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTransactionModalLabel">Nova transakcija</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <app-transaction-form 
        [currentTransaction]="currentTransaction"
        [incomes]="incomes"
        [expenses]="expenses"
        (saved)="closeModal()"
      >
      </app-transaction-form>
    </div>
  </div>
</div>
