<div class="modal fade" id="addTransactionModal" tabindex="-1" role="dialog" aria-labelledby="addTransactionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTransactionModalLabel">Nova transakcija</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            
          <div class="form-group">
            <app-transaction-type-select></app-transaction-type-select>
          </div>
          
          <div class="form-group">
              <app-account-select></app-account-select>
          </div>
                    
          <app-datepicker [gfclasses]="'mb-3'" [placeholder]="'Opravljeno dne'"></app-datepicker>

          <input [(ngModel)]="currentTransaction.amount" type="number" class="form-control mb-2 mr-sm-5" id="amount" name="amount" placeholder="Znesek">
          
          <input [(ngModel)]="currentTransaction.id" type="hidden" id="id" name="id" placeholder="Znesek">
      
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" (click)="save()">Dodaj</button>
      </div>
    </div>
  </div>
</div>