<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Pregled</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button class="btn btn-sm btn-outline-secondary mr-2"  data-toggle="modal" data-target="#addTransactionModal">Dodaj transakcijo</button>
  </div>
</div>

<form [formGroup]="filterForm" (ngSubmit)="filterDashboard(filterForm.value)" class="form-inline mb-5">

  <app-datepicker [fGroup]="filterForm" fcName="start" class="mr-2" [small]="true" [placeholder]="'Od'"></app-datepicker>

  <app-datepicker [fGroup]="filterForm" fcName="end" class="mr-2" [small]="true" [placeholder]="'Do'"></app-datepicker>

  <div class="group-form">
    <app-account-select [fGroup]="filterForm" [small]="true" hidePlaceholder="0" placeholderText="Vsi računi" class="mr-2"></app-account-select>
  </div>

  <div class="group-form">
    <app-transaction-type-select [fGroup]="filterForm" [small]="true" hidePlaceholder="0" placeholderText="Vsi tipi transakcij"></app-transaction-type-select>
  </div>

  <div class="group-form">
    <input type="submit" class="btn btn-sm btn-outline-secondary ml-2" value="Išči">
  </div>

</form>


<table class="table">
    <thead>
      <tr>
        <th scope="col">Razlog</th>
        <th scope="col">Datum</th>
        <th scope="col">Račun</th>
        <th scope="col">Znesek</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ getTransactionTypeNameById(transaction.type_id) }}</td>
        <td>{{ transaction.done_on | date : "d.M.yyyy" }}</td>
        <td>{{ getAccountNameById(transaction.account_id) }}</td>
        <td [ngClass]="transaction.amount >= 0 ? 'text-success' : 'text-danger'">{{ transaction.amount }}</td>
        <td>
          <span (click)="editMode(transaction)" class="edit-btn"><i class="fa fa-pencil mr-2"></i></span>
          <span (click)="deleteTransaction(transaction)" class="delete-btn"><i class="fa fa-remove"></i></span>
        </td>
      </tr>
    </tbody>
  </table>

  <app-add-transaction-modal [(currentTransaction)]="currentTransaction" [incomes]="incomes" [expenses]="expenses"></app-add-transaction-modal>
