<div class="container mt-5">

    <form class="form-inline mb-5">
      <input type="text" class="form-control mb-2 mr-sm-5" id="title" name="title" placeholder="Ime">
      <button type="button" class="btn btn-primary mb-2">Dodaj</button>
    </form>
  
  
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Ime</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Posojila</td>
          <td><a href="" class="delete-btn"><i class="fa fa-remove"></i></a></td>
        </tr>
        <tr>
          <td>Malica Roman</td>
          <td><a href="" class="delete-btn"><i class="fa fa-remove"></i></a></td>
        </tr>
        <tr>
          <td>Higijena</td>
          <td><a href="" class="delete-btn"><i class="fa fa-remove"></i></a></td>
        </tr>
        <tr>
          <td>Hrana</td>
          <td><a href="" class="delete-btn"><i class="fa fa-remove"></i></a></td>
        </tr>
        <tr>
          <td>Potovanja</td>
          <td><a href="" class="delete-btn"><i class="fa fa-remove"></i></a></td>
        </tr>
        <tr>
          <td>Avto vzdrževanje</td>
          <td><a href="" class="delete-btn"><i class="fa fa-remove"></i></a></td>
        </tr>
        <tr>
          <td>Date denar</td>
          <td><a href="" class="delete-btn"><i class="fa fa-remove"></i></a></td>
        </tr>
        <tr>
          <td>Telefon</td>
          <td><a href="" class="delete-btn"><i class="fa fa-remove"></i></a></td>
        </tr>
        <tr>
          <td>Drugo</td>
          <td><a href="" class="delete-btn"><i class="fa fa-remove"></i></a></td>
        </tr>
        <tr>
          <td>Tina luksuz</td>
          <td><a href="" class="delete-btn"><i class="fa fa-remove"></i></a></td>
        </tr>
        <tr>
          <td>Provizije banke</td>
          <td><a href="" class="delete-btn"><i class="fa fa-remove"></i></a></td>
        </tr>
        <tr>
          <td>Roman luksuz</td>
          <td><a href="" class="delete-btn"><i class="fa fa-remove"></i></a></td>
        </tr>
      </tbody>
    </table>
  
  </div>














