@import "~ng-pick-datetime/assets/style/picker.min.css";

body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }

  .delete-btn,.edit-btn {
    color: rgb(124, 124, 124);
    cursor: pointer;
  }
  .delete-btn:hover {
    color: #dc3545;
  }
  .edit-btn:hover {
    color: #28a745;
  }

  .cdk-overlay-container {
    position: fixed;
    z-index: 1090;
  }
